{% extends 'base.html' %}
{% block content %}

     <div class="content-wrap">
                    <header class="entry-header">
                        <div class="posted-date">
                            January 30, 2018
                        </div><!-- .posted-date -->

                        <h2 class="entry-title">{% block title %} {{ object.title }} {% endblock title %}</h2>

                        <div class="tags-links">
                            <a href="#">#winter</a>
                            <a href="#">#love</a>
                            <a href="#">#snow</a>
                            <a href="#">#january</a>
                        </div><!-- .tags-links -->
                    </header><!-- .entry-header -->

                    <figure class="featured-image">
                        <img src="{{ post.images }}" alt="">
                    </figure><!-- .featured-image -->

                    <div class="entry-content">
                        <p>{{ object.content | safe }}</p>
                    </div><!-- .entry-content -->

                    <footer class="entry-footer flex flex-column flex-lg-row justify-content-between align-content-start align-lg-items-center">
                        <ul class="post-share flex align-items-center order-3 order-lg-1">
                            <label>Share</label>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul><!-- .post-share -->

                        <a class="read-more order-2" href="#">Read more</a>

                        <div class="comments-count order-1 order-lg-3">
                            <a href="#">2 Comments</a>
                        </div><!-- .comments-count -->
                    </footer><!-- .entry-footer -->
     </div>
    {% for comment in post.comments.all %}
        <a href="{% url 'post_detail' slug=post.slug %}">Comments: {{ post.comments.count }}</a>
    <p>{{comment.name}}</p>
    <p>{{comment.body|linebreaks}}  {{comment.created_on}}</p>
    {% endfor %}

    <form method="POST" >
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
{% endblock content %}
